# Configuration for an SQLite file
sqliteDB:
  dbConfigFile: pab-core.db
  dbConfigPoolSize: 20

# Configuration for a local postgres instance
# postgresDB:
#     dbConfigUser: postgres
#     dbConfigPass: postgres123
#     dbConfigHost: 127.0.0.1
#     dbConfigPort: 5432
#     dbConfigDatabase: pab
#     dbConfigPoolSize: 20

pabWebserverConfig:
  baseUrl: http://localhost:9080
  staticDir: plutus-pab-client/dist
  permissiveCorsPolicy: False
  # Optional timeout (in seconds) for calls to endpoints that are not currently
  # available. If this is not set, calls to unavailable endpoints fail
  # immediately.
  endpointTimeout: 5
  # Optional timeout (in seconds) when querying the status of an invoked endpoint for
  # which the expected contract status must be set to Done.
  # If this is not set, the query will wait until the instance state is updated.
  waitStatusTimeout: 60
  enableMarconi: False
  # Configure the paths to the certificate and the private key file to enable HTTPS:
  # certificatePath: host.crt
  # keyPath: host.key

walletServerConfig:
  tag: LocalWalletConfig
  walletSettings:
    baseUrl: http://localhost:9081

nodeServerConfig:
  pscBaseUrl: http://localhost:9082
  pscSocketPath: ./node-server.sock
  pscKeptBlocks: 100
  pscNetworkId: "1097911063" # Testnet network ID (main net = empty string)
  pscSlotConfig:
    scSlotZeroTime: 1596059091000 # Wednesday, July 29, 2020 21:44:51 - shelley launch time in milliseconds
    scSlotLength: 1000 # In milliseconds
  pscInitialTxWallets:
    - getWallet: 1
    - getWallet: 2
    - getWallet: 3

  # Which cardano-node to use
  # Options are
  # - MockNode          (plutus-apps internal mock version of the node)
  # - AlonzoNode        (cardano-node via socket connection)
  # - NoChainSyncEvents (no node for chain sync events)
  pscNodeMode: MockNode

chainIndexConfig:
  ciBaseUrl: http://localhost:9083

requestProcessingConfig:
  requestProcessingInterval: 1

signingProcessConfig:
  spBaseUrl: http://localhost:9084
  spWallet:
    getWallet: 1

metadataServerConfig:
  mdBaseUrl: http://localhost:9085

developmentOptions:
  pabRollbackHistory: null
  pabResumeFrom:
    { "tag" : "PointAtGenesis" }
    # { "tag" : "Point"
    # , "pointBlockId" : "613d23b8df670e3692f4e4ab59b179778519de15999ee1a51077fcc02a48abaa"
    # , "pointSlot" : { "getSlot" : 45656608 }
    # }

# Optional EKG Server Config
# ----
# monitoringConfig:
#   monitoringPort: 9090
